<!DOCTYPE html>
<html lang="{{language}}">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="css/w3.css">
        <link rel="stylesheet" href="css/kotws.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <script src="https://kit.fontawesome.com/4bcf978f75.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <noscript>
            This is a JavaScript app. Please enable JavaScript to continue.
        </noscript>
        <div id="app">
        <script src="js/compiled/app.js"></script>
    </body>
</html>
