@import (less) "../../resources/public/css/w3.css";
@import (less) "timeline.less";

@footer-height: 42px;
@left-panel-width: 220px;
@default-padding: 32px;
@default-margin: 32px;
@header-height: 60px;
@margin-small: 5px;

@bg-color: white;
@text-color: black;
@left-panel-color: #F6F6F6;
@git-color: orange;
@selected-button-color: #AFF1B6;
@git-text-color: white;
@overlay-color: black;
@footer-color: #616161;
@footer-text-color: white;
@evt-type-2-color: #87BBFE;

* body{
    font-family: Raleway, sans-serif;
}

html {
}

body{
    max-width:1300px;
    background-color: @bg-color;
    color: @text-color;
}

a{
    &:extend(.w3-hover-text-grey);
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: @evt-type-2-color;
}

.git{
    position: absolute;
    background-color: @git-color;
    color: @git-text-color;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    padding:3px;
    margin:20px -@default-margin*2;
    line-height: 2rem;
    bottom:25px;
    left: 0px;
    width: 300px;
    z-index: 10;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}

.git:hover{
    background-color: inherit;
    color: @git-color;
}

/*
 ***********************
 Views
***********************
*/
#main-panel{
    margin-left: @left-panel-width;
    margin-right: @default-margin;
    padding-bottom: @footer-height + @default-padding*2;
}

#views {
    min-height: 500px;
}

.content{
    margin-left: @default-margin;
}
/*
 ***********************
 Common components
 ***********************
*/

#header {
    height: @header-height;
    line-height: @header-height;
}

#header .menu-bn{
    &:extend(.w3-button);
    &:extend(.w3-left);
    &:extend(.w3-xxlarge);
    line-height: 100%;
    height: 100%;}

#header .lang-bn{
    &:extend(.w3-right);
    &:extend(.w3-hover-opacity);
    cursor: pointer;
    margin-left: 1em;
}

#header .avatar{
    &:extend(.w3-circle);
    &:extend(.w3-left);
    &:extend(.w3-center);
    height: @header-height;
}

// Left panel
#left-panel{
    &:extend(.w3-animate-left);
    &:extend(.w3-center);
    &:extend(.w3-bar-block);
    background-color: @left-panel-color;
    width: @left-panel-width;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    padding: @default-padding @default-padding;
    z-index: 10;
}

#left-panel .close-button{
    &:extend(.w3-display-topright);
    &:extend(.w3-xlarge);
    margin-right: @margin-small;
}

#left-panel .avatar{
    &:extend(.w3-round);
    &:extend(.w3-center);
    width: 40%;
}

#left-panel .menu{
    &:extend(.w3-bar-block);
}

#left-panel .menu a{
    &:extend(.w3-bar-item);
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;}

#left-panel .menu a i{
    &:extend(.w3-fa);
    &:extend(.w3-fw);
    padding-right:@default-padding;}

#left-panel .contact-bar{
    &:extend(.w3-center);
    &:extend(.w3-padding-32);
    letter-spacing: @default-padding;
}

// Footer
#footer{
    &:extend(.w3-center);
    background-color: @footer-color;
    color: @footer-text-color;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    z-index:0;
    line-height: @footer-height+@default-margin;
    overflow-x: auto;
    height: @footer-height+@default-margin;
}

// Overlay
#overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: @overlay-color;
    opacity: 0.7;
    cursor: pointer;
}

// Home
#home-three-pilars{
    &:extend(.w3-center);
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    & th {
        width: 33%;
        max-width: 33%;
        & img {
            width: 100%;
        }
    }
}

#home-three-pilars #pilars {
    margin-top: 40px;
    width:50%;
}

.home-image{
    width: 15vw;
}

/*
 ***********************
 View specific
***********************
*/

// Resume
.timeline .where{
    &:extend(.w3-right);
    &:extend(.w3-padding);
    &:extend(.w3-round);
    background-color: @left-panel-color;
    margin:0px;
}
.timeline .role{
    &:extend(.w3-row);}

.timeline .role .role-icon {
    &:extend(.w3-col);
    padding-right: 10px;
    width: 60px;}

.timeline__event__description li{
    padding-left: 0px;}

.timeline__event__description .desc-item{
    width: 94%;}

.timeline__event__description i{
    padding: auto 0px auto 0px;}

.timeline .item {
    cursor: pointer;}

.timeline .item .arrow{
    &:extend(.w3-left);
    width: auto;
    padding-right: 5px;}

timeline .cv-button{
    padding-left: 15px;
}

.timeline__event__icon i {
    margin-left: -15px;
}

.timeline .detailed-item {
    &:extend(.w3-card);
    margin: 8px 2px;
    padding: 8px 5px;
}

.tooltipable{
    &:extend(.w3-right);
    height: 5px;
}

.tooltipable .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: @text-color;
    color: @bg-color;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    transform: translate(-150px, -5px);
    position: absolute;
    z-index: 1;
}

.tooltipable:hover .tooltip{
    visibility: visible;
}

// About
.about-bullet{
    width: 10px;
}

// Vision
.par-title{
    font-weight: bold;
}

// Biblio
.biblio-item{
    &:extend(.w3-center);
    max-width: 100%;
}

.biblio-item #desc{
    &:extend(.w3-card);
    overflow: auto;
    margin: @default-margin;
    padding: @default-padding;
    text-align: left;
}

.biblio-item .p-title{
    font-weight: bold;
}

.biblio-item #detailed-desc{
    &:extend(.w3-card);
    margin: @default-margin;
    padding: @default-padding;
    text-align: left;
}

.biblio-item img{
    max-height: 300px;
}

.page-menu{
    &:extend(.w3-center);
    padding: 20px;
    overflow-x: auto;
}

.page-menu .button{
    background-color: @footer-color;
    color: @footer-text-color;
    margin: 10px;
    padding: 10px;
}

.page-menu .selected-button{
    background-color: @selected-button-color;}

.page-menu .unselected-button{
    background-color:inherit;
    color: @text-color;
}

// Technical stack
.tech-stack-item{
    &:extend(.w3-third);
    &:extend(.w3-padding);
}

.tech-stack-item h2{
    margin: 0px;
}

.tech-stack-item a{
    &:extend(.w3-center);
    &:extend(.w3-card);
    overflow-y: auto;
    padding: 0px @margin-small;
    height: 200px;
    display: block;
}
.tech-stack-item img {
    max-width: 80%;
    max-height: 50px;
}
